@font-face {
    font-family: "Yekan";

    src:
        url("../fonts/yekan/Yekan.woff2") format("woff2"),
        url("../fonts/yekan/Yekan.woff") format("woff"),
        url("../fonts/yekan/Yekan.ttf") format("truetype");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@import 'tailwindcss';



/* daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Yekan",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";


    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

html {
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: "kern";
}
@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}




input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";


.scrollbar-minimal::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-minimal::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 9999px;
    transition: background .2s;
}

.scrollbar-minimal:hover::-webkit-scrollbar-thumb {
    background: rgb(var(--color-base-300));
}
/* Livewire navigation progress bar */
#nprogress .bar {
    height: 4px !important;
    border-radius: 0 0 9999px 9999px;
    z-index: 9999 !important;
}

#nprogress .peg {
    height: 100%;
    opacity: 0.6;
}
